-# each
=link_to("/chat-space", style: "text-decoration:none;") do
  -# groups/[:id]/messages
  .group
    %p.group__group-name group1
    %p.group__latest-message last-message
-# ここまで
=link_to("/chat-space", style: "text-decoration:none;") do
  .group
    %p.group__group-name group2
    %p.group__latest-message last-message
=link_to("/chat-space", style: "text-decoration:none;") do
  .group
    %p.group__group-name group3
    %p.group__latest-message last-message
    