-# each
.message
  -# {data-message_id: ""}
  .upper-info
    %p.upper-info__user user
    %p.upper-info__date date
  %p.message__text text
  -# =image_tag("", alt: "") do
    -# ここまで

.message
  .upper-info
    %p.upper-info__user user
    %p.upper-info__date date
  %p.message__text text
.message
  .upper-info
    %p.upper-info__user user
    %p.upper-info__date date
  %p.message__text text
.message
  .upper-info
    %p.upper-info__user user
    %p.upper-info__date date
  %p.message__text text
  